<div class="asd">
    <form [formGroup]="form" class="asd" (ngSubmit)="updateProduct()">
    <section>
      <div class="example-button-row">
        <button routerLink="add" mat-button color="primary">Volver al listado</button>
      </div>
    </section>
    <mat-grid-list cols="2" rowHeight="75px">
  
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput autocomplete="off" formControlName="nombre">
        </mat-form-field>
      </mat-grid-tile>

         <!-- <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Categoria</mat-label>
          <mat-select formControlName="categoria">
            <mat-option *ngFor="let cat of listcategoria" value="{{ cat.id}}">
              {{cat.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </mat-grid-tile> -->

             <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Categoria</mat-label>
          <mat-select formControlName="categoria" [(value)]="selected" [(ngModel)]="selected">
            <mat-option *ngFor="let cat of listcategory" value="{{ cat.id}}">
              {{cat.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Marca</mat-label>
          <input matInput autocomplete="off" formControlName="marca">
        </mat-form-field>
      </mat-grid-tile>
  
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Descripcion</mat-label>
          <input matInput autocomplete="off" formControlName="descripcion">
        </mat-form-field>
        </mat-grid-tile>
  
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Precio</mat-label>
            <input matInput type="number" placeholder="0" autocomplete="off" formControlName="precio">
          </mat-form-field>
          </mat-grid-tile>
    </mat-grid-list>
  
  
  <div class="botoncont"><button value="add" mat-raised-button color="primary">Agregar</button></div>
  
  </form>
  </div>
<app-view-product></app-view-product>